/* CSS reset*/

*{
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family:inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding:0;
	border:0;
}

a, 
a:visited {
	text-decoration: none;
	color: #fe0027;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img { 
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size:inherit;
	font-weight: 400;
}


/*--------------------*/

/* Fonts */

@font-face {
	font-family: "DrawingBlood";
	src: url("/fonts/drawing-blood/DrawingBlood.ttf") format("truetype"),
		 url("/fonts/drawing-blood/DrawingBlood.woff2") format("woff2"),
		 url("/fonts/drawing-blood/DrawingBlood.woff") format("woff");
   }

body {
	height: 100%;
	background-color: #000;
	color: #fe0027;
	font-family: "DrawingBlood";
	font-size: 18px;
}

h1 {
	font-size: 52px;
	color: #fe0027;
	padding: 2px;
}

.wrapper {
	min-height: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 1230px;
	width: 100%;
	margin: 0 auto;
}



/* Header */
.header {
	width: 100%;
	height: 75px;
	display: flex;
	align-items: center;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 15px 5px 15px;
}

.logo__placeholder {
	width: 130px;
	height: 60px;
}

.logo__placeholder img,
.btn img {
	width: 100%;
	object-fit: contain;
}

/* button */
.btn {
	width: 40px;
	background-color: #000;
}

.btn:active,
.btn:hover {
	outline: 1px solid #fe0027;
	border-radius: 2px;
	transition: outline .2s linear;
}

/* main */
.main {
	flex: 1 1 auto;
	position: relative;
	background: url(../img/bg.gif) center / cover no-repeat;
	background-color: #000;
	overflow: hidden;
}

.main__content {
	height: 100%;
	position: absolute;
	margin: 0 auto;
	top: 10%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, 0%);
}

.main__content img {
	width: 100%;
	height: 100%;
	max-width: 500px;
	max-height: 540px;
	margin-bottom: 30px;
}

/* footer */

.footer {
	height: 75px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.copy {
	display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}